## .NET
bin/
obj/
*.user
*.suo
.vs/
_ReSharper*/
*.DotSettings.user

## Logs
logs/
*.log

## Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
build/
bld/
[Bb]in/
[Oo]bj/

## NuGet
*.nupkg
.nuget/
packages/
!packages/build/

## Publish
publish/
wwwroot/uploads/

## User-specific
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates

## Environment
appsettings.Production.json
.env
